<template>

  <div class="page" data-name="home">



    <div class="page-content">

      <div class="row">

        <div class="col-100 large-50 center">

          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">The NFT Commons</div>
            </div>
          </div>

          <div class="block">

            Remix and meme friendly NFTs. Easily create Etheruem NFTs with friendly Creative Commons licensing that encourages sharing, remixing, and memes. 

            The NFT Commons is an alternative way to monetize creative work while contributing the work itself to the digital collective. Think of them as a way to keep track of who's the biggest fan of the piece just like any other art market. 
      
            * Do art because you love it 
            * Put it in the public domain 
            * Get paid anyway 
      
            <div class="list">
              <ul>
                <li>Digitally sign your art.</li>
                <li>Publish offline and make available to peers.</li> 
                <li>Anyone can buy an NFT print of your media. You set the price.</li>
                <li>NFT prints can be exchanged on third-party marketplaces like OpenSea.</li>
                <li>The digital collective gets more art and whoever appreciates it the most can buy a special souvenier.</li>
                <li>Reward early fans of artists.</li>
                <li>It's nice to own stuff. Relative scarcity creates a real sense of ownership. Who's the biggest fan?</li>
                <li>Earn tokens for holding. The longer you hold the more tokens you get. Tokens are just for fun.</li>
                <li>Free, open source, and peer to peer.</li>
              </ul>
            </div>
      
          </div>
      
          How it works
          You host your content in the browser. You always have a copy. Automatically share with peers.
      
      
          The NFT Commons does not have a governance token. Everyone has a say in the commons, even those who don't have tokens yet. Fork the git repo and create your own customized version.
      


          </div>


        </div>

      </div>


  </div>

</template>


<script>

  export default (props, { $on, $f7, $update }) => {
    return $render
  }

</script>